#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        L-alt {
            bindings = <&sk LALT>;
            key-positions = <13 14>;
            layers = <0>;
            require-prior-idle-ms = <5>;
        };

        R-alt {
            bindings = <&sk LALT>;
            key-positions = <22 21>;
            layers = <0>;
            require-prior-idle-ms = <5>;
        };

        L-ctrl {
            bindings = <&sk LCTRL>;
            key-positions = <28 27>;
            layers = <0>;
            require-prior-idle-ms = <5>;
        };

        R-ctrl {
            bindings = <&sk LCTRL>;
            key-positions = <31 32>;
            layers = <0>;
            require-prior-idle-ms = <5>;
        };

        L-shft {
            bindings = <&sk LSHFT>;
            key-positions = <16 15>;
            layers = <0>;
            require-prior-idle-ms = <5>;
        };

        R-shft {
            bindings = <&sk LSHFT>;
            key-positions = <19 20>;
            layers = <0>;
            require-prior-idle-ms = <5>;
        };

        caps {
            bindings = <&caps_word>;
            key-positions = <40 41>;
            layers = <0>;
            require-prior-idle-ms = <5>;
        };

        print {
            bindings = <&kp LC(P)>;
            key-positions = <4 5>;
            layers = <0>;
            require-prior-idle-ms = <5>;
        };
    };

    behaviors {
        bt0: bt0 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT0";
            bindings = <&bt BT_SEL 0>, <&bt_clr_0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt1: bt1 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT1";
            bindings = <&bt BT_SEL 1>, <&bt_clr_1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt2: bt2 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT2";
            bindings = <&bt BT_SEL 2>, <&bt_clr_2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt3: bt3 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT3";
            bindings = <&bt BT_SEL 3>, <&bt_clr_3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt4: bt4 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT4";
            bindings = <&bt BT_SEL 4>, <&bt_clr_4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        act_dir: act_dir {
            compatible = "zmk,behavior-hold-tap";
            label = "ACT_DIR";
            bindings = <&fast_Sad>, <&fast_AD>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        id_1st: id_1st {
            compatible = "zmk,behavior-hold-tap";
            label = "ID_1ST";
            bindings = <&fast_id>, <&fast_1st>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        quotes: quotes {
            compatible = "zmk,behavior-hold-tap";
            label = "QUOTES";
            bindings = <&dbl_qts>, <&sngl_qts>;

            #binding-cells = <2>;
            tapping-term-ms = <179>;
            flavor = "tap-preferred";
        };

        par_chv: par_chv {
            compatible = "zmk,behavior-hold-tap";
            label = "PAR_CHV";
            bindings = <&CHVS>, <&PARS>;

            #binding-cells = <2>;
            tapping-term-ms = <179>;
            flavor = "tap-preferred";
        };

        brk_brc: brk_brc {
            compatible = "zmk,behavior-hold-tap";
            label = "BRK_BRC";
            bindings = <&BRCS>, <&BRKTS>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };
    };

    macros {
        stno_ve: stno_ve {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp V &kp E>;
            label = "STNO_VE";
        };

        stno_ou: stno_ou {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp U>;
            label = "STNO_OU";
        };

        stno_ov: stno_ov {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp V>;
            label = "STNO_OV";
        };

        stno_sw: stno_sw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp W>;
            label = "STNO_SW";
        };

        stno_cs: stno_cs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp S>;
            label = "STNO_CS";
        };

        stno_gm: stno_gm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp M>;
            label = "STNO_GM";
        };

        apos_s: apos_s {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp S>;
            label = "APOS_S";
        };

        apos_t: apos_t {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp T>;
            label = "APOS_T";
        };

        apos_d: apos_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp D>;
            label = "APOS_D";
        };

        apos_L: apos_L {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp L &kp L>;
            label = "APOS_L";
        };

        dbl_mclk: dbl_mclk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &mkp LCLK>;
            label = "DBL_MCLK";
        };

        apos_re: apo_r {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp R &kp E>;
            label = "APO_R";
        };

        apos_ve: apos_ve {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp V &kp E>;
            label = "APOS_VE";
        };

        apos_y: apos_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp SQT>;
            label = "APOS_Y";
        };

        apos_n: apos_n {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp SQT>;
            label = "APOS_N";
        };

        year: year {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N0 &kp N2 &kp N6>;
            label = "YEAR";
        };

        fast_AD: fast_AD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp E &kp L &kp L &kp O &kp N &kp DOT &kp M &kp O &kp Y>;
            label = "FAST_AD";
        };

        fast_Sad: fast_Sad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp DOT &kp D &kp E &kp L &kp L &kp O &kp N &kp DOT &kp M &kp O &kp Y>;
            label = "FAST_SAD";
        };

        fast_1st: fast_1st {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp E &kp L &kp L &kp O &kp N>;
            label = "FAST_1ST";
        };

        fast_id: fast_id {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N5 &kp N6 &kp N4 &kp N1 &kp N5 &kp LS(D) &kp LS(M)>;
            label = "FAST_ID";
        };

        apos_c: apos_c {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp SQT>;
            label = "APOS_C";
        };

        fast_na: fast_na {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N) &kp FSLH &kp LS(A)>;
            label = "FAST_NA";
        };

        PARS: PARS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
            label = "PARS";
        };

        CHVS: CHVS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp GT &kp LEFT>;
            label = "CHVS";
        };

        BRKTS: BRKTS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT>;
            label = "BRKTS";
        };

        BRCS: BRCS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBRC &kp RBRC &kp LEFT>;
            label = "BRCS";
        };

        sngl_qts: sngl_qts {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp SQT &kp LEFT>;
            label = "SNGL_QTS";
        };

        dbl_qts: dbl_qts {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp DQT &kp LEFT>;
            label = "DBL_QTS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Alpha {
            display-name = "Alpha";
            bindings = <
&none  &kp X           &kp W  &kp M      &mt PSCRN P  &kp Z    &none  &kp F    &kp U      &kp Y  &kp Q           &none
&sl 4  &mt LEFT_GUI R  &kp S  &kp T      &kp H        &kp B    &kp J  &kp N    &kp A      &kp I  &mt LEFT_GUI O  &sl 4
&none  &key_repeat     &kp C  &kp G      &kp D        &none    &none  &kp L    &kp K      &kp V  &key_repeat     &none
       &none           &none  &kp ENTER  &lt 1 SPACE  &sl 3    &sl 3  &lt 2 E  &kp ENTER  &none  &none
            >;
        };

        Navi {
            display-name = "Navi";
            bindings = <
&none            &act_dir 0 0     &mt HOME PG_UP   &kp UP           &mt END PG_DN  &year          &none      &none           &mmv MOVE_UP    &none            &none      &none
&sk LC(LSHFT)    &kp LEFT_GUI     &kp LEFT         &kp DOWN         &kp RIGHT      &fast_na       &none      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp RCLK  &sk LCTRL
&mt LC(Y) LC(Z)  &mt LC(F) LC(A)  &mt LG(V) LC(V)  &mt LC(X) LC(C)  &sk LSHFT      &id_1st 0 0    &none      &none           &none           &none            &none      &none
                 &none            &none            &none            &none          &none          &dbl_mclk  &mkp LCLK       &none           &none            &none
            >;
        };

        Num+Sym {
            display-name = "Num+Sym";
            bindings = <
&none      &mt DOUBLE_QUOTES SINGLE_QUOTE  &kp N5  &kp N3  &kp N4  &kp PERCENT    &none  &kp BSLH                 &kp HASH                  &kp CARET                    &kp GRAVE                      &none
&kp EQUAL  &key_repeat                     &kp N0  &kp N1  &kp N2  &kp N7         &none  &kp ASTRK                &kp FSLH                  &kp PLUS                     &kp MINUS                      &mt COLON SEMI
&none      &none                           &kp N9  &kp N8  &kp N6  &kp DLLR       &none  &mt LT LEFT_PARENTHESIS  &mt GT RIGHT_PARENTHESIS  &mt LEFT_BRACE LEFT_BRACKET  &mt RIGHT_BRACE RIGHT_BRACKET  &none
           &none                           &none   &trans  &trans  &kp DOT        &none  &none                    &none                     &none                        &none
            >;
        };

        Steno {
            display-name = "Steno";
            bindings = <
&none  &none  &none     &none        &none         &none       &none  &none         &none        &stno_ou  &none     &none
&none  &none  &stno_sw  &none        &none         &kp DEL     &none  &none         &none        &none     &stno_ov  &none
&none  &none  &stno_cs  &stno_gm     &none         &kp BSPC    &none  &none         &none        &stno_ve  &none     &none
       &none  &none     &kp LC(DEL)  &kp LC(BSPC)  &none       &none  &kp LC(BSPC)  &kp LC(DEL)  &none     &none
            >;
        };

        Quick {
            display-name = "Quick";
            bindings = <
&none  &none     &none    &none     &none            &quotes 0 0     &none              &none    &none     &apos_y   &none  &none
&none  &apos_re  &apos_s  &apos_t   &none            &par_chv 0 0    &none              &apos_n  &none     &none     &none  &none
&none  &none     &none    &none     &none            &brk_brc 0 0    &none              &apos_L  &none     &apos_ve  &none  &none
       &none     &none    &kp PIPE  &mt TILDE UNDER  &none           &mt QUESTION EXCL  &kp AT   &kp AMPS  &none     &none
            >;
        };

        Temp {
            display-name = "Temp";
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
            >;
        };
    };
};
